.gcloudignore
.git/
.gitignore
venv/
.venv/
myenv/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.ipynb
.env
Llama-3.1-8B-Instruct/**
**/*.safetensors
sheet_logs/**
sessions/**
Backups/**
.DS_Store
.vscode/
.idea/
dist/
build/
*.egg-info/

!token.json
